body{
    font-size: 200%;
}

h1{
    font-size: 150%;
    color: blueviolet;
    text-emphasis: shadow 10px;
}

.qux{
    color: aquamarine;
}

h2{
    color:blueviolet;
}

li{
    color:aqua;
}

p{
    color: blue
}