                    
button {
    background-color: #DC4828;
    border: 2px black thick;
    color: greenyellow;
    text-align: center;    
    font-size: 16px;
    padding: 12px;
}

header{
    background-color: darkgrey;
    text-align: center;
}

header p{
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

h1#new-point{
    text-align:right;
}

main{
    background-color: lightblue;
}

footer{
    text-align: center;
    background-color: lightgray;
}

aside{
    background-color: #DC4828;
    float:right;
    width:100px;
    padding: 15px;
    border-radius:solid;
    border: 5px blue;
    font-size: 120%;
}

.byline{
    font-style: italic;
    font-size: 100%;
}

.elf-div-border{
    display:inline-block;
    border: 1px black solid;
}

button.test-button{
    padding-top: 25px;    
    border: blue 10px solid;
    border-radius: 22px;
}

button.test-button:hover{
    background-color: rgb(255, 196, 250);
}

button.margin-button{
    margin: 50px;
}

div#margin-div{
    display:inline-block;
    border: 1px black solid;
}

img#mountain{
    width: 100px;
    height:100px;
    float:left;
}
