@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Attribution for the open page */

audio{
    width: 250px;
    border-radius: 20px;
}

body#openbody{
    background-image: url("themeimg/open_img.jpg");
    background-size: 100%;
    background-repeat: repeat;
}

h1#opentitle{
    color: rgb(243, 247, 7);
    font-size: 60px;;
    position: relative;
    top: 100px;
    text-align: center;  
    font-family: fantasy;
    animation: blink 3s;
    animation-iteration-count: infinite;
}
 
a#go{
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
    color: yellow;
    margin: 0;
    background-color: rgba(255, 0, 0, 0.63);
}

#open_button{
    position: absolute;
    bottom: 40%;
    right: 45%;
    border: 2px solid rgba(255, 0, 0, 0.548);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.63);
}

#open_button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#openfooter{
    position: absolute;
    bottom: 0;
    padding: 1rem;
}



/* Attribution for the index.html page */

#homebody{
    background-color: black;
}

.fix{
    overflow: hidden;
    position: fixed;
    top: 3px;
    width: 100%;
}

.byline{
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 100%;
    font-style: bold;
    text-align: center;
}

#homeh1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 100px;
    font-family: fantasy;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #homeh1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: red;
        font-size: 50px;
        font-family: fantasy;
        width: 100%;
    }
}

img#pic1{
    width:100%;
    height: 300px;
}

img#pic2{
    width: 200px;
    height: 200px;
    float:right;
    position: relative;
    animation: blink 3s;
    animation-iteration-count: infinite;
}

.wrapper {
    text-align: center;
}


#appearanceAction{
    background-color: yellowgreen;
    position: static;
    size: 200%;
    border-color: purple;
    border-radius: 10px;
    border-style: solid;
    height: 40px;
    left: 50%;
    right: 50%;
}


/* Attribution for the about.html page */

.about{
    background-image: url("themeimg/aboutBG.jpg");
    background-repeat: repeat;
}

.aboutHeader{
    text-align: left;
    margin-top: -150px;
    color: coral;
}

.generalh1{
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: left;
    margin: 20px;
    position: relative;
    margin-top: 50px;
}

#user-selection{
    position: static;
    margin-top: 50px;
}

legend{
    color: red;
}

#sort-type{
    color: white;
}

#mypic{
    width: 200px;
    height: 200px;
    float:left;
    position: relative;
    margin: 5px 20px;
}

.aboutp{
    color: coral;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align:justify;
    margin: 20px 50px;
}

#whoami{
    color:rgb(255, 0, 76);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align:left;
    margin: 20px 50px;
}

#mywork{
    color:rgb(255, 0, 76);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align:left;
    margin: 20px 50px;
}

#mylife{
    color:rgb(255, 0, 76);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align:left;
    margin: 20px 50px;
}

.asideL{
    background-color:beige;
    float:left;
    width:250px;
    padding: 15px;
    border-radius:solid;
    border: 5px blue;
    margin-right: 10px;
    border-radius: 10px;
    margin-left:25px;
}

.asideL img{
    width:250px;
    height:250px;
    padding-top: 5px;
}

.asideR{
    background-color:beige;
    float:right;
    width:250px;
    padding: 15px;
    border-radius:solid;
    border: 5px blue;
    margin-right: 10px;
    border-radius: 10px;
    margin-left:25px;
}

.asideR img{
    width:250px;
    height:250px;
    padding-top: 10px;
}


/* Attribution for the JAPN.html page */



#noroi{
    float:right;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border:red solid 2px;
    border-radius: 5px;
}

#ju-on{
    float:right;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    border:red solid 2px;
    border-radius: 5px;
}

#ringu{
    float:right;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border:red solid 2px;
    border-radius: 5px;
}


/* Attribution for the usmovie.html page */

#shining{
    float:right;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border:red solid 2px;
    border-radius: 5px;
}

#rosemary{
    float:right;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    border:red solid 2px;
    border-radius: 5px;
}

#exorcist{
    float:right;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border:red solid 2px;
    border-radius: 5px;
}


/* Attribution for the chn.html page */

#ghoststory{
    float:right;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border:red solid 2px;
    border-radius: 5px;
}

#ebola{
    float:right;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    border:red solid 2px;
    border-radius: 5px;
}

#dumplings{
    float:right;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 20px;
    border:red solid 2px;
    border-radius: 5px;
}

/* Attribution for the contact.html page */

#contactmain{
    position: relative;
    margin-top: 60px;
}

#contactaside{
    background-color:beige;
    float:right;
    width:50px;
    padding:15px;
    border-radius:solid;
    border: 5px blue;
    margin-right: 10px;
    border-radius: 10px;
    margin-left:25px;
}

.contactimg{
    height: 50px;
    margin: 10px 0px;
    width: 50px;
}



.generalheadimg{
    width: 100%;
    height: 300px;
    margin: -20 -10;
}

.generalbody{
    background-color:rgb(31, 28, 28);
}

.generalmain{
    margin-top: 380px;
    position: static;
    margin-left: 30px;
    margin-right: 30px;
}

.generalh2{
    color: rgb(255, 60, 0);
    font-size: 200%;
    margin-left: 60px;;
}


h2{
    color:rgb(255, 60, 0);
}




header{
    text-align: center;
}

.absolute{
    position: absolute;
    margin-top:100px;
}

#homemain{
    background-color:black;
    margin-top: 450px;
    width: 100%;
    position: static;
}

footer{
    text-align: center;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;        
    padding: 0.5px;
    width:100%;
    background-color: rgba(128, 128, 128, 0.37);
}

.footerP{
    text-align: center;
    color:red;
}

figure{
    position: relative;
    margin: 0 0;
}



.horizonnav {        
    background-color: black;
    border: 1px green solid;
    clear: right;
    height: 45px;
    width: 100%;
}

.horizonnav ul {
    text-align: center;
    clear: right;
    height: 45px;
    width: 100%;
}

.horizonnav li {
    display: inline-block;
}

.horizonnav li a {
    display: block;
    text-align: center;
    color:red;
    padding: 5px 16px;
    text-decoration: none;
    font-family: fantasy;
}


li a:hover {
    color:yellow;
}

p{
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align:justify;
    line-height:30px;
}

a{
    color: red;
}
    