body{
    background-color:rgb(71, 65, 65);
}

header{
    text-align: center;
    background-color: rgb(12, 11, 11);    
}

main{
    background-color:rgb(71, 65, 65);
}

footer{
    background-color: rgb(71, 65, 65);
    text-align: center;
}

figure{
    position: relative;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 380%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav {        
    background-color: black;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 15px;   
    text-decoration-color: red;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

p{
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

a{
    color: red;
}
    
.byline{
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 100%;
    font-style:bold;
}

img#pic1{
    width:100%;
    height: 350px;
}

img#pic2{
    width: 200px;
    height: 200px;
    float:right;
}